/* Add your CSS code below */
*{
    line-height: 30px;
}
.link{
    color: red;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9rem;
}
.message--unread{
    border-left: 1px #00f solid;
}
.message:first-child{
    opacity: 0.5;
}